@import "tailwindcss";

@theme {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@utility animate-shimmer {
  animation: shimmer 2.5s infinite;
}
